                     
			*{
				margin:0;
				padding:0;
				font-family:'poppins', sans-serif;
				box-sizing:border-box;
				
				}
				
				
			.a{     background: white;
				min-height: 100vh;
				width: 100%;
				color:black;
				position:relative;
				
				}	
				
				nav{
					
					display:flex;
					align-items:center;
					padding: 10px 4%;
			
					
					
					}

                nav .logo{ 
					
					width:50px;
					cursor:pointer;
					align-items:left;
		}

		nav ul { 
			flex:1;
			text-align:right;


		}
	
		nav ul li {
			display: inline-block;
			list-style:none;
			margin: 0 20px;




		}

                nav ul li a {


			text-decoration:none;
			color:black;
			
		




		}

	
             		
	        .lock {
			position:absolute;
			bottom:30%;





		}	
		.lo{
			width:300px;
			margin-left:20%;
			bottom:20px;




		}

		.text{
		
	
			max-width:600px;
			margin-top:7%;
			margin-left:50%;
		
			




		}
		.text h1 {


			font-size:8;
			font-weight:400;
			bottom:50%;
			padding:40px;
			font-family: 'georgia';
			align-items:flex-start;





		}
		.text p {
			font-size:4;
			font-weight:300;
			font-style:italic;

		}
		
	
		}
		
      @media all and (max-width:1029px) {
      .a{
      background-size:contain;
      
      
      }
      
      @media all and (max-width:768px){
      
      .lock .text .logo .text {
      float:none;
      padding:15px 0 20px;
      text-align:center;
      
      
      }


}
		


